@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d111c;
  --foreground: #ffffff;
  --primary: #4c82fb;
  --secondary: #98a1c0;
  --surface: #131a2a;
  --stroke: #293249;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500;
  }
}